# Firebase Configuration
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_APP_ID=
FIREBASE_FIRESTORE_DATABASE_ID=

# Environment
NODE_ENV=production
PORT=3000
GEMINI_API_KEY=
VITE_BACKEND_URL=
VITE_PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
